/* General Styles for Landing Page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #007bff; /* Set a fallback background color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Apply the background image */
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV2yudeJH9aYQ2UbNlJWtyG-TCqEEUIKQxRg&s');
    background-size: cover;
    background-position: center;
}
