/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5fd3afbd6976963b37da7d77/39e53770-c8d0-410f-9d11-53292806b9b9/Freelancing+for+Agencies+%281%29+%281%29.jpg?format=1500w');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header ul li a.btn {
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    flex: 1;
}

#welcome {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGt759KIBT0VeRUq6qsqBpLQsQw46U1W1j-A&s');
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #444;
}
